# TODO: Update with exact module version
scipy
scikit-build
loguru
pycocotools
thop
numpy
torch>=1.7
opencv_python
loguru
scikit-image
tqdm
torchvision
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py==2.9.0

# verified versions
onnx==1.8.1
onnxruntime==1.8.0
onnx-simplifier==0.3.5
